.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
logs
jobs
subs
tmp
*.sub
vis/

DATASET/
OUTPUT/
evaluation/data
models/richsem/ops/build
models/richsem/ops/dist
models/richsem/ops/MultiScaleDeformableAttention.egg-info

DATASET
OUTPUT
checkpoints/
data/
*.log

figureplace/